body { text-align: center; }

a { margin: 14px; }
a.figlet {
  margin: 0;
  text-decoration: none;
  color: inherit;
}

button { margin: 0 5px; }

.error { color: red; }
.error a { margin: 0; }

.message { margin-bottom: 20px; }
.message span { font-size: 0.75em; }
p#message { height: 20px; }
hr { margin: 300px 0 80px 0; }

.message-container { white-space: nowrap; }
.message, .message-opts { display: inline-block; }
ul { list-style: none; padding-left: 20px; }
ul li { text-align: left; }

input[name="receiver_username"], select[name="explode"] {
  margin-bottom:  10px;
}

#start, #stop, #dismiss, #send, #message {
  display: none;
}

#rec {
  display: none;
  color: red;
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {  50% { opacity: 0; }}
