body {
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: #EE6A5B;
	color: snow;
}

.banner {
  margin: 24px 0 40px;
}

.banner a {
	margin: 0;
	text-decoration: none;
	color: inherit;
	font-family: 'Josefin Slab', serif;
	font-size: 56px;
}

.log-in, .sign-up {
	text-decoration: none;
	border-radius: 6px;
	padding: 5px 36px;
	margin: 20px;
}

.sign-up {
  border: 1px dashed #151515;
  color: #151515;
}

.log-in {
  border: 1px dashed #337ab7;
  color: #337ab7;
}
