<form action="/signup_create" method="POST">
  <p>
    <label for="username">Username:</label>
    <input type="text" name="username"><br/ >
  </p>
  <p>
    <label for="email">Email (optional):</label>
    <input type="email" name="email"><br/ >
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" name="password"><br/ >
  </p>
  <p>
    <label for="confirmation">Confirm Password:</label>
    <input type="password" name="confirmation"><br/ >
  </p>
  <p>
    <label for="timezone">Timezone:</label>
    <select name="timezone">
        <option value="US/Eastern">US Eastern</option>
        <option value="US/Central">US Central</option>
        <option value="US/Mountain">US Mountain</option>
        <option value="US/Pacific">US Pacific</option>
        <option value="US/Alaska">US Alaska</option>
        <option value="US/Hawaii">US Hawaii</option>
        <option value="UTC">Coordinated Universal Time (UTC)</option>
    </select>
  </p>
  <input type="submit" value="Sign Up">
</form>
